*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}
body{
    background-color: #efefef;
}

/* Nav Bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#1876f2 ;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;

}
.logo{
    width: 160px; 
    margin-right: 45px;
}
.nav-left{
    display: flex;
    align-items: center;

}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}
.nav-right{
    display: flex;
    align-items: center;
    display: flex;
    gap: 20px
    ;
}
.nav-user-icon img{
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
}
.search-box{
    background: #efefef;
    width: 350px;
    border-radius:20px ;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;

}
.online ::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
    
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 30px 5%;
    

}


/*  Left side bar */
.left-side-bar{
    
    flex-basis: 25%;
    position: sticky;
    top: 40px;
    align-self: flex-start;
   
}
.right-side-bar{
    background: #fff;
    flex-basis: 25%;
    position: sticky;
    top: 40px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 4px;
    color: #626262;  
  
}
.main-bar{
    flex-basis: 47%;   
}
.imp-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
   
    color: #626262;  
}
.imp-links a img{
      width: 25px;
      margin: 15px;
}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
  
    color: #626262;
    
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin: 15px;
}
p{
    margin: 25px 0;
    color: #626262;
    font-weight: 5000;
}

/*  Right side bar */
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title span{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a{
   text-decoration: none;
   color: #1876f2;
   font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.event span{
    padding: 8px;
    margin-top: 4px;
}
.event span{
    font: size 20px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
#Don{
    font-size: 20px;

}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.sidebar-ads{
    margin-bottom: 20px;
    width: 100%;
    border-radius: 4px;
    height: 150px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    display: inline-block;
   

}
.online-list  img{
    width: 40px;
    border-radius: 50%;
    display: flex;
    
}
.online{
    display: flex;
    
}
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)) ,url(images/status-1.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    

}
.story img{
    position: absolute;
    width: 40px;
    top: 10px;
    left: 10px;
    border-radius: 50% ;
    border: 5px solid #1876f2;

}
.story p{
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.story2{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)) ,url(images/status-2.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;


}
.story2{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)) ,url(images/status-2.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;


}
.story3{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)) ,url(images/status-3.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;


}
.story4{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)) ,url(images/status-4.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;


}
.story5{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)) ,url(images/status-5.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translatex(-50%);
    border: 0;
    width: 35px;
    cursor: pointer;
}
.write-post-container{
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    color: #626262;
    font-weight: 500;
}
.user-profile small{
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;

}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
    height: 20px;
}
.add-post-link{
    margin-left: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}
.add-post-link img{
    width: 25px;
    height: 15px;
    margin-left: 70px;
    cursor: pointer;

}
.add-post-link img p{
      font-size: 10px;
      
}
.post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-container p{
    font-size:13px ;
    color: #9a9a9a;
}
.post-text a{
    color: #1876f2;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div img{
    display: flex;
    display: inline-block;
    width: 18px;
    margin-right: 1px;
    margin-bottom: 5px;margin-inline: 15px
    ;
}
.activity-icons{
    display: inline-flex;
    align-items: center;
    margin-right: 15px;

}
.post-profile-icons img{
    border-radius: 50%;
    width: 30px;
    margin-right: 10px;
}


    







